<!DOCTYPE html>
<html>

<head>
    <style>
        .intro {
            font-size: 20pt;
            font-style: italic
        }
        
        .heading {
            font-size: 14pt;
            font-weight: bold;
            font-family: sans-serif
        }
        
        .title {
            font-size: 20pt;
            font-weight: bold;
            background-color: navy;
            color: white;
            text-align: center;
            font-family: sans-serif
        }
    </style>
    <link href="@{'/public/LoginCss/login.css'}" rel="stylesheet">
    <div class="container">
        <script src="public/JavaScript/jogo.js" type="text/javascript"></script>
    </div>
</head>

</html>